<section class="mt-5 pt-5 pb-3">
    <div class="container-sm headingColor">
        <h1 class="fw-bold text-center">CONTACT SECTION</h1>
        <div class="star">
            <div class="after"></div>
            <i class="fa-solid fa-star mx-3"></i>
            <div class="after"></div>
        </div>
        <div class="form">
            <div class="input">
                <label for="userName" [class.top-0]="userName"
                    class="inputTitle m-0">userName
                    :</label>
                <input id="userName" type="text" [(ngModel)]="userName"
                    placeholder="userName">
            </div>
            <div class="input">
                <label for="userAge" [class.top-0]="userAge"
                    class="inputTitle m-0">userAge
                    :</label>
                <input id="userAge" type="number" [(ngModel)]="userAge"
                    placeholder="userAge">
            </div>
            <div class="input">
                <label for="userEmail" [class.top-0]="userEmail"
                    class="inputTitle m-0">userEmail
                    :</label>
                <input id="userEmail" type="email" [(ngModel)]="userEmail"
                    placeholder="userEmail">
            </div>
            <div class="input">
                <label for="password" [class.top-0]="password"
                    class="inputTitle m-0">userPassword
                    :</label>
                <input id="password" type="password" [(ngModel)]="password"
                    placeholder="userPassword">
            </div>
            <div class="input">
                <button>Send Message</button>
            </div>
        </div>
    </div>
</section>
