<section class="mt-5 pt-5 pb-3">
    <div class="container-sm headingColor">
        <h1 class="fw-bold text-center">CONTACT SECTION</h1>
        <div class="star">
            <div class="after"></div>
            <i class="fa-solid fa-star mx-3"></i>
            <div class="after"></div>
        </div>
        <div class="form">
            <div class="input">
                <p [class.top-0]="title1" class="inputTitle m-0">userName :</p>
                <input type="text" (input)="showInputTitle1()"
                    placeholder="userName">
            </div>
            <div class="input">
                <p [class.top-0]="title2" class="inputTitle m-0">userAge :</p>
                <input type="number" (input)="showInputTitle2()"
                    placeholder="userAge">
            </div>
            <div class="input">
                <p [class.top-0]="title3" class="inputTitle m-0">userEmail :</p>
                <input type="email" (input)="showInputTitle3()"
                    placeholder="userEmail">
            </div>
            <div class="input">
                <p [class.top-0]="title4" class="inputTitle m-0">userPassword
                    :</p>
                <input type="password" (input)="showInputTitle4()"
                    placeholder="userPassword">
            </div>
            <div class="input">
                <button>Send Message</button>
            </div>
        </div>
    </div>
</section>
