<section class="bgMainColor mt-5">
    <div class="container-sm py-5">
        <h1 class="fw-bold pt-5 text-center">ABOUT COMPONENT</h1>
        <div class="star my-3">
            <div class="after"></div>
            <i class="fa-solid fa-star mx-3"></i>
            <div class="after"></div>
        </div>
        <div class="row px-sm-5">
            <div class=" col-md-6 mb-5">
                <div class="inner">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptates adipisci, corrupti debitis dolores quia dicta
                    quidem ab accusantium a officiis magnam inventore, molestiae
                    sunt blanditiis repellat molestias, nam accusamus vero?
                </div>
            </div>
            <div class="col-md-6">
                <div class="inner">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptates adipisci, corrupti debitis dolores quia dicta
                    quidem ab accusantium a officiis magnam inventore, molestiae
                    sunt blanditiis repellat molestias, nam accusamus vero?
                </div>
            </div>
        </div>
    </div>
</section>