<footer class="bgNabAndFooter text-center py-5">
    <div class="container-sm py-5">
        <div class="row gy-5 gx-0 gx-sm-4">
            <div class="col-sm-4">
                <div class="innerFooterCard">
                    <h3>LOCATION</h3>
                    <p class="w-50 m-auto">2215 John Daniel Drive Clark, MO
                        65243</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="innerFooterCard">
                    <h3>AROUND THE WEB</h3>
                    <p>
                        <i class="roundedIcons fa-brands fa-facebook"></i>
                        <i class="roundedIcons fa-brands fa-twitter"></i>
                        <i class="roundedIcons fa-brands fa-linkedin-in"></i>
                        <i class="roundedIcons fa-solid fa-globe"></i>
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="innerFooterCard">
                    <h3>ABOUT FREELANCER</h3>
                    <p>Freelance is a free to use, licensed Bootstrap theme
                        created by Route</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<p class="endFooter m-0">Copyright © Your Website 2021</p>
