.navbar-brand,
.nav-link {
  color: white;
  font-weight: bold;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}
.active {
  background-color: var(--mainColor);
  border-radius: 5px;
  color: white !important;
}
@media screen and (max-width: 992px) {
  .nav-link {
    width: fit-content;
    padding: 0.5rem;
  }
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}
.smothBehavior {
  transition: all 0.5s;
}
.onScrollClass {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}
.changeImage {
  font-size: 2rem !important;
}
